<main role="main" class="container">

   <div class="starter-template">
   <h1>Stateful</h1>
   <p class="lead">Ejemplo de componete stateful.</p>

     <div class="card-deck">
       <div class="card" *ngFor="let Item of shopModel.shopItems">
         <img class="card-img-top" src="{{Item.picture}}"
              alt="{{Item.title}}">
         <div class="card-body">
           <h5 class="card-title">{{Item.title}}</h5>
           <p class="card-text">{{Item.desc}}</p>
           <p class="card-text">Precio: {{Item.price}}€</p>
           <a href="#" class="btn btn-primary">Comprar</a>
         </div>
       </div>
   </div>
   </div>
   </main><!-- /.container -->

