<div class="col" *ngIf="product">
  <div class="card h-100 shadow-sm">
    <img
      src="{{ product.picture }}"
      class="card-img-top"
      alt="{{ product.title }}"
    />
    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-primary">{{
          product.title
        }}</span>
        <span class="float-end price-hp">Precio: {{ product.price }}€</span>
      </div>
      <h5 class="card-title">{{ product.desc }}</h5>
      <div class="text-center my-4">
        <button
          type="button"
          class="btn btn-warning"
          [disabled]="isDisabled()"
          (click)="bought()"
        >
          {{compra}}
        </button>
      </div>
    </div>
  </div>
</div>
